<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<div class="container">
			<header class="row pt-5">
				<h2>Eager to learn more?</h2>
			</header>

			<div class="pt-4">
				<div>
					<h4>About Me!</h4>
					<div class="pt-3">
						<p>
							Hi, my name is <strong>Geet Kumar Choubey</strong> but you may call me Geet.
						</p>
						<p>
							I am a passionate programmer currently enrolled at <strong>Seneca School of
								Institute and Communication and Technology.</strong>
						</p>
						<p>Student ID: <strong>155876196</strong></p>
						<p>Course enrolled in: <strong>Database Application Developer</strong></p>
					</div>
					<div class="pt-3">
						<p>Oringally from India and a puntastic person!</p>
						<p>Showcasing my work: @<a href="https://github.com/gkchoubery">GitHub.com</a></p>
					</div>
				</div>
				<div class="pb-5"></div>
			</div>
		</div>

		<!-- End your code here  -->



	</main>
</div>