<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home | Web700</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/theme.css" >
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Geet Choubey</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
				<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				<li class="nav-item"><a class="nav-link" href="/employees/add">Add Employee</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="/employees">Employees</a></li>
				<li class="nav-item"><a class="nav-link" href="/managers">Managers</a></li>
				<li class="nav-item"><a class="nav-link" href="/departments">Departments</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<main class="col-md-12">

				<!-- Start your code here -->
				<div class="container">
					<header class="row pt-5">
						<h2>Welcome to my ExpressJS website!</h2>
					</header>

					<section class="pt-4">
						<div>
							<h4>Contents</h4>
							<p class="pt-3">
								This is a simple website hosted on ExpressJS framework!
							</p>
							<p class="pt-3">
								I have added 3 static pages to this application, namely:
							</p>
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/htmlDemo">HTML Demo</a></li>
							</ul>
							<p class="pt-3">
								I have also data links that will retrieve data from the backend as per the user's query:
							</p>
							<ul>
								<li>
									<a href="/employees">Employees</a>
								</li>
								<li>
									<a href="/managers">Managers</a>
								</li>
								<li>
									<a href="/departments">Departments</a>
								</li>
								<li>
									<a href="/employees?department=2">Employees working in department# 2</a>
								</li>
								<li>
									<a href="/employee/3">Employee with ID# 3</a>
								</li>
							</ul>
						</div>

						<div class="pt-4">
							<h4>A little about HTML5</h4>
							<p class="pt-3">
								HTML5 is a markup language used for structuring and presenting content on the World Wide
								Web. It
								is the fifth and last[3] major HTML version that is a World Wide Web Consortium (W3C)
								recommendation. The current specification is known as the HTML Living Standard. It is
								maintained
								by a consortium of the major browser vendors (Apple, Google, Mozilla, and Microsoft),
								the
								Web
								Hypertext Application Technology Working Group (WHATWG).
							</p>
							<p>HTML5 was first released in a public-facing form on 22 January 2008,[4] with a major
								update
								and
								"W3C Recommendation" status in October 2014.[2][5] Its goals were to improve the
								language
								with
								support for the latest multimedia and other new features; to keep the language both
								easily
								readable by humans and consistently understood by computers and devices such as web
								browsers,
								parsers, etc., without XHTML's rigidity; and to remain backward-compatible with older
								software.
								HTML5 is intended to subsume not only HTML 4 but also XHTML 1 and DOM Level 2 HTML.</p>
						</div>
						<div class="pb-5"></div>
					</section>
				</div>



				<!-- End your code here  -->



			</main>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>