<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		<div class="container">
			<header class="row pt-5">
				<h2>HTML Elements Example</h2>
			</header>

			<div class="pt-4">
				<div>
					<h4>Tabulating Data</h4>
					<div class="pt-3">
						<table style="width: 100%;">
							<caption>Table 1: Phone Numbers</caption>
							<thead>
								<tr>
									<th>Name</th>
									<th colspan="2">Telephone Numbers</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Justin</td>
									<td>(768) 577 3467</td>
									<td>(768) 574 8765</td>
								</tr>
								<tr>
									<td>Ryan</td>
									<td>(688) 876 3456</td>
									<td>(688) 987 2345</td>
								</tr>
								<tr>
									<td>Alison</td>
									<td>(787) 747 3300</td>
									<td>(787) 688 9860</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th>Total Entries</th>
									<td colspan="2">3</td>
								</tr>
							</tfoot>
						</table>
						<table style="width: 100%;">
							<caption>Table 2: Major Cities of Ontario</caption>
							<tr>
								<th>Province</th>
								<td class="text-center">Ontario</td>
							</tr>
							<tr>
								<th rowspan="2">Cities</th>
								<td class="p-1">Toronto</td>
							</tr>
							<tr>
								<td class="p-1">Ottawa</td>
							</tr>
						</table>
					</div>
					<p class="caption">All data appearing in this table is fictious. Any resemblance to real world
						is purely coincidental.</p>
				</div>
				<hr>
				<div class="mt-4">
					<h4>Listing Items</h4>
					<div class="pt-3">
						<h5>Beverages</h5>
						<ol>
							<li>Coffee</li>
							<li>Tea
								<ul>
									<li>Black tea</li>
									<li>Green tea</li>
								</ul>
							</li>
							<li>Milk</li>
							<li>Juice</li>
							<li>Beer</li>
						</ol>
					</div>
					<p class="caption">Thirsty much? Try one from the list.</p>
				</div>
				<hr>
				<div class="mt-4">
					<h4>Display Images</h4>
					<div class="pt-3">
						<h5>Mother Nature</h5>
						<div class="row text-center">
							<div class="col-md-6">
								<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg"
									alt="Image of a snowboarder" />
							</div>
							<div class="col-md-6">
								<img src="https://cdn.pixabay.com/photo/2021/01/17/07/35/dog-5924174_1280.jpg"
									alt="Dog running in snow" />
							</div>
						</div>
						<div class="row text-center">
							<div class="offset-md-3 col-md-6">
								<img src="https://cdn.pixabay.com/photo/2020/12/03/12/35/giraffe-5800387_1280.jpg"
									alt="A giraffe standing tall" />
							</div>
						</div>
						<p class="caption">See the beauty of mother nature unfold before you.</p>
					</div>
					<hr>
					<div class="mt-4">
						<h4>Playing Music in HTML</h4>
						<div class="pt-3">
							<h5>Classical Music</h5>
							<div class="text-center">
								<audio controls>
									<source
										src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/Track03.ogg"
										type="audio/ogg">
									<source
										src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/Track03.mp3"
										type="audio/mpeg">
									Your browser does not support the audio element.
								</audio>
							</div>
						</div>
						<p class="caption">Make yourself comfortable with some soothing classical melodies.</p>
					</div>
					<hr>
					<div class="mt-4">
						<h4>Netflix and Chill?</h4>
						<div class="pt-3">
							<h5>Chilling with a Bear</h5>
							<div class="text-center">
								<video width="320" height="240" controls>
									<source
										src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/movie.mp4"
										type="video/mp4">
									<source
										src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/movie.ogg"
										type="video/ogg">
									<source
										src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/movie.webm"
										type="video/webm">
									Your browser does not support the video tag.
								</video>
							</div>
						</div>
						<p class="caption">Have you seen The Revenant? Spoiler alert!! JK</p>
					</div>
					<div class="pb-5"></div>
				</div>
			</div>
		</div>


		<!-- End your code here  -->

	</main>
</div>